.header{
    width: 100%;
    height: 110px;
    background-color: #272727;
}

img{
    width: 55px;
}

a{
    text-decoration: none;
    color: white;
}

input{
    margin-bottom: 20px;
}

.navbar{
    min-height: 42px;
    display: flex;
    justify-content: space-between;
    margin: 0 16px;
}

.navbarlist{
    padding-left: 0;
    margin: auto 26px;
}

.navbaritem{
    display: inline-block;
    list-style: none;
    margin: 0 16px;
}

a:hover{
    color: #c2c2c2;
}

.container{
    width: 100%;
    height: auto;
    background-color: white;
}

i {
    color: blue;
    background-color: white;
    padding: 7px;
    border-radius: 50%;
    transition: 0.2s linear;
}

i:hover {
    color: white;
    background-color: blue;
}

.footer{
    background-color: #424242;
    color: white;
}